# LU Solver

### Importing the required libraries

In [11]:
from LU_helper_functions import *
from scipy.linalg import lu, solve, lu_solve, lu_factor
import time
import numpy as np
import pandas as pd

### Generating the matrices for test

In [12]:
n = [10,50,100,400,1000,1500,2000] # Size of matrix
A, b = [], []
for i in n:
    A.append(np.random.rand(i,i)) # Random Matrices
    b.append(np.random.rand(i)) # Random Vectors

### LU Factorization Time Analysis

In [13]:
Our_Factorization_Time = []
SciPy_Factorization_Time = []
for i in A:
    start = time.time()
    _ = lu_decomposition(i)
    end = time.time()
    Our_Factorization_Time.append(end-start)
    start = time.time()
    _ = lu(i)
    end = time.time()
    SciPy_Factorization_Time.append(end-start)

In [14]:
# Factorization Time Table for comparison
table = pd.DataFrame(list(zip(n,Our_Factorization_Time,SciPy_Factorization_Time)),columns = ["Matrix Order","My Method (in sec)","Using SciPy (in sec)"],
                     index=range(1, len(n) + 1))
table.style.set_properties(**{'text-align':'center'})

### LU Solver Time Analysis

In [15]:
Our_Solver_Time = []
SciPy_Solver_Time = []
for i in range(len(A)):
    start = time.time()
    _ = lu_solver(A[i],b[i])
    end = time.time()
    Our_Solver_Time.append(end-start)
    start = time.time()
    lu_piv, piv = lu_factor(A[i])
    _ = lu_solve((lu_piv, piv), b[i])
    end = time.time()
    SciPy_Solver_Time.append(end-start)

In [16]:
table = pd.DataFrame(list(zip(n,Our_Solver_Time,SciPy_Solver_Time)),columns = ["Matrix Order","My Method (in sec)","Using SciPy (in sec)"],
                     index=range(1, len(n) + 1))
table.style.set_properties(**{'text-align':'center'})

### _||PA-LU||_ for both solvers

In [17]:
# We will use the Frobenius Norm to get the largest precision error.
Our_Matrix_Norms, SciPy_matrix_norms = [], []
for i in range(len(A)):
    P, L, U = lu_decomposition(A[i])
    Our_Matrix_Norms.append(np.max(np.abs(np.subtract(np.matmul(P,A[i]),np.matmul(L,U)))))
    P, L, U = lu(A[i])
    SciPy_matrix_norms.append(np.max(np.abs(np.subtract(np.matmul(P,A[i]),np.matmul(L,U)))))

In [18]:
table = pd.DataFrame(list(zip(n,Our_Matrix_Norms,SciPy_matrix_norms)),columns = ["Matrix Order","Norm in my method","Norm using SciPy"],
                     index=range(1, len(n) + 1))
table.style.set_properties(**{'text-align':'center'})

### $\|Ax_0 - b\|$ for both solvers

In [19]:
# We will use the ∞-Norm to get the largest precision error.
Our_Vector_Norms, SciPy_Vector_norms = [], []
for i in range(len(A)):
    P, L, U, x = lu_solver(A[i],b[i])
    Our_Vector_Norms.append(np.max(np.abs(np.subtract(np.matmul(A[i],x),b[i]))))
    a = lu_factor(A[i])
    x = lu_solve(a,b[i])
    SciPy_Vector_norms.append(np.max(np.abs(np.subtract(np.matmul(A[i],x),b[i]))))

In [20]:
table = pd.DataFrame(list(zip(n,Our_Vector_Norms,SciPy_Vector_norms)),columns = ["Matrix Order","Vector Norm in my method","Vector Norm using SciPy"],
                     index=range(1, len(n) + 1))
table.style.set_properties(**{'text-align':'center'})